<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto | Jessica</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/contacto.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="/images/logo.png" alt="Logo" />
      </div>
      <ul class="nav-links">
        <li><a href="/">INICIO</a></li>
        <li><a href="/views/Sex_positions.html">COMO CUIDARME</a></li>
        <li><a href="/views/mas_polpular.html">ETS</a></li>
        <li><a href="/views/blog.html">HIGIENE</a></li>
        <li><a href="/views/contacto.html">CONTACTO</a></li>
      </ul>
    </nav>
    <h1>Contacto</h1>
    <div class="container-contacto">
      <form action="submit.php" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required />
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required />
        <label for="message">Mensaje:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <footer>
      <div class="footer-content">
        <h3>Un Viaje de Descubrimiento y Respeto por tu Cuerpo</h3>
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="#">SEGURIDAD</a></li>
          <li><a href="#">CONOCW TU CUERPO</a></li>
          <li><a href="#">CONTACTO</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
