<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mas popular | Jessica</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="/images/logo.png" alt="Logo" />
      </div>
      <ul class="nav-links">
        <li><a href="/">INICIO</a></li>
        <li><a href="/views/Sex_positions.html">COMO CUIDARME</a></li>
        <li><a href="/views/mas_polpular.html">ETS</a></li>
        <li><a href="/views/blog.html">HIGIENE</a></li>
        <li><a href="/views/contacto.html">CONTACTO</a></li>
      </ul>
    </nav>
    <h1>ETS</h1>
<p>
  Las infecciones de trasmisión sexual causan las enfermedades de trasmisión sexual. Se contagian principalmente por contacto sexual.
   Las infecciones de trasmisión sexual son causadas por bacterias, virus o parásitos. Una infección de trasmisión sexual puede pasar 
   de una persona a otra a través de la sangre, el semen o los líquidos vaginales y otros líquidos corporales.
  A veces, las infecciones de trasmisión sexual se contagian por vías distintas del contacto sexual. 
  Por ejemplo, las infecciones de trasmisión sexual pueden contagiarse a los bebés durante el embarazo o el parto.
   Las infecciones de trasmisión sexual pueden contagiarse por transfusiones de sangre o agujas compartidas.
  Las infecciones de trasmisión sexual no siempre causan síntomas. Una persona puede contraer infecciones de trasmisión sexual
   de otra persona que parece sana y que ni siquiera sabe que tiene una infección.
</p>

<h2>SINTOMAS</h2>
<p>
  Las enfermedades de trasmisión sexual pueden presentar diversos síntomas, como la ausencia de síntomas.
   Por eso las infecciones de trasmisión sexual pueden pasar desapercibidas hasta que una persona tiene complicaciones 
   o se diagnostica a su pareja.
Los síntomas de las infecciones de trasmisión sexual pueden incluir los siguientes:
</p>
<ol>
  <li>Llagas o protuberancias en los genitales o en la zona bucal o rectal</li>
  <li>Dolor o ardor al orinar</li>
  <li>Secresion proveniente del pene</li>
  <li>Flujo vaginal inusual o con mal olor</li>
  <li>Sangrado vaginal inusual</li>
  <li>Dolor durante las relaciones sexuales</li>
  <li>Dolor e inflamacion en los ganglios infaticos, particularmente en la ingle, aunque a vecs mas extendidos</li>
  <li>Dolor en la parte inferior del abdomen</li>
  <li>Fiebre</li>
  <li>Erupcion en el tronco, manos o los pies</li>
</ol>
<li><a href="https://youtu.be/1gbF4MjoOPE?si=qBIzIk1x5YpZ4mrE">VIDEO INFFECCIONES SEXUALES</a></li>
<video width="640" height="360" controls>
  <source src="/images/¿Qué son las infecciones de Transmisión Sexual (ITS)_.mp4" type="video/mp4">
</video>
    <!-- CONTENIDO -->
    <footer>
      <div class="footer-content">
        <h3>Un Viaje de Descubrimiento y Respeto por tu Cuerpo</h3>
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="#">SEGURIDAD</a></li>
          <li><a href="#">CONOCE TU CUERPO</a></li>
          <li><a href="#">CONTACTO</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
