<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sex Edication | Jessica</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/sex_positions.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="/images/logo.png" alt="Logo" />
      </div>
      <ul class="nav-links">
        <li><a href="/">INICIO</a></li>
        <li><a href="/views/Sex_positions.html">COMO CUIDARME</a></li>
        <li><a href="/views/mas_polpular.html">ETS</a></li>
        <li><a href="/views/blog.html">HIGIENE</a></li>
        <li><a href="/views/contacto.html">CONTACTO</a></li>
      </ul>
    </nav>
    <h1>¿COMO ME PUEDO CUIDAR?</h1>
    <div class="wrapper">
      <div class="box">
        <div class="card">
          <img
            src="/images/tareas-sexo-1920-2.jpg"
            alt="Imagen del Artículo"
          />
          <div class="card-content">
            <h2>QUE TAN IMPORTANTE ES CUIDARME?</h2>
            <p>
              La salud sexual es un aspecto fundamental para la salud y el bienestar generales de las personas,
               las parejas y las familias, así como para el desarrollo económico y social de las comunidades y los países.
               Ademas asi podemos educar y comunicar a aquellas personas en situaciones o dudas.
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="card">
          <img
            src="/images/mitos sobre relaciones sexuales.jpg"
            alt="Imagen del Artículo"
          />
          <div class="card-content">
            <h2>COMO TENER UN BUEN CUIDADO?</h2>
            <p>
              Para practicar sexo seguro es básico mantener una rutina de higiene íntima diaria,
               con agua y jabón íntimo (sobre todo después de las relaciones sexuales) y utilizar
                métodos anticonceptivos que pueden ser de barrera, hormonales, DIU y quirúrgicos.
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="card">
          <img
            src="/images/metodos-anticonceptivos-1.jpg"
            alt="Imagen del Artículo"
          />
          <div class="card-content">
            <h2>COMO SE CLASIFICAN LOS METODOS ANTICONCEPTIVOS</h2>
            <p>
              Masculinos o femeninos:
                      en función de si lo usa el hombre o la mujer.
              Orales o no orales:
                      hace referencia a si los anticonceptivos se toman en forma de pastillas o si se colocan en otro lugar del cuerpo.
              Hormonales o no hormonales:
                      en base a si incluyen hormonas en su composición.
              Temporales o permanentes:
                      en función de la duración de la anticoncepción.
              Reversibles o irreversibles:
                      hace referencia a la esterilización total del hombre o la mujer.
            </p>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer-content">
          <h3>Un Viaje de Descubrimiento y Respeto por tu Cuerpo</h3>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">SEGURIDAD</a></li>
            <li><a href="#">CONOCE TU CUERPO</a></li>
            <li><a href="#">CONTACTO</a></li>
          </ul>
        </div>
    </footer>
  </body>
</html>
